@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap");

* {
  box-sizing: border-box;
}

:root {
  /* Thiết lập những giá trị dùng chung nhưng không áp trực tiếp vào thẻ nào, ví dụ: đặt biến CSS, đặt tên màu */
}

html {
  /* thẻ ngoài cùng */
  /* lợi dụng tính chất kế thừa, đặt các thuộc tính kế thừa cho toàn bộ website vào đây. */
  font-family: "Cherry Bomb One", system-ui;
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
}

a {
  border: 5px red solid;
  padding: 10px 20px 30px 100px;
  margin: 20px;
  background-color: rgba(100, 100, 39, 0.504);
}

p {
  /* box-sizing: content-box; */
  /* content-box là khi tính kích thước của phần tử html chỉ dựa vào content. */
  box-sizing: border-box;
  /* khuyến khích dùng box-sizing border box để dễ tính toán */

  border: 2px solid #888;
  padding: 10px;
  margin: 20px;
  width: 100px;
  height: 100px;
}
